<nav class="navigation">
  <div class="container">
    <span class="title">ng-google-sheets-db</span>

    <span class="navigation-list">
      <a href="#documentation">Documentation</a>
      <a href="https://github.com/FranzDiebold/ng-google-sheets-db-library" target="_blank">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
        </svg>
      </a>
    </span>
  </div>
</nav>

<section class="example">
  <div class="container">
    <h3>Example</h3>
    <div *ngIf="characters$ | async as characters; else loading">
      <div *ngFor="let character of characters" class="character-card">
        <div class="name">
          {{ character.name }}
        </div>
        <div class="row">
          <div class="column">
            <table class="email-contact">
              <tr>
                <td>
                  <svg style="width:14px;height:14px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" />
                  </svg>
                </td>
                <td class="email">
                  {{ character.email || '-' }}
                </td>
              </tr>
              <tr>
                <td>
                  <svg style="width:14px;height:14px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                  </svg>
                </td>
                <td>
                  {{ character.contact.street }} {{ character.contact.streetNumber }}<br>
                  {{ character.contact.zip }} {{ character.contact.city }}
                </td>
              </tr>
            </table>
          </div>
          <div class="column">
            <div class="skills">
              <span>Skills</span>
              <ul>
                <li *ngFor="let skill of character.skills">{{ skill }}</li>
                <li *ngIf="character.skills.length == 0" class="no-skills">no skills</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
  </div>
</section>

<section>
  <div class="container">
    <h3>Why it's awesome?</h3>

    <h4>The data comes from <a href="https://docs.google.com/spreadsheets/" target="_blank">Google Sheets</a>! 🚀</h4>
    <a href="https://docs.google.com/spreadsheets/d/1gSc_7WCmt-HuSLX01-Ev58VsiFuhbpYVo8krbPCvvqA" target="_blank">
      <img src="assets/google-sheets-table.png">
    </a>
    <div class="demo-sheet-button-container">
      <a href="https://docs.google.com/spreadsheets/d/1gSc_7WCmt-HuSLX01-Ev58VsiFuhbpYVo8krbPCvvqA" target="_blank" class="button button-outline">
        <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,11V9H11V5H9V9H5V11H9V19H11V11H19M19,3C19.5,3 20,3.2 20.39,3.61C20.8,4 21,4.5 21,5V19C21,19.5 20.8,20 20.39,20.39C20,20.8 19.5,21 19,21H5C4.5,21 4,20.8 3.61,20.39C3.2,20 3,19.5 3,19V5C3,4.5 3.2,4 3.61,3.61C4,3.2 4.5,3 5,3H19Z" />
        </svg>
        Google Sheets Demo spreadsheet
      </a>
    </div>

    <div class="why">
      With the help of <a href="https://www.npmjs.com/package/ng-google-sheets-db" target="_blank"><code>ng-google-sheets-db</code></a> you can define your (read-only) backend in Google Sheets!
    </div>
  </div>
</section>

<section class="documentation" id="documentation">
  <div class="container">
    <h3>Documentation</h3>

    <div>
      <h5>Installation</h5>
      <pre><code>$ ng add ng-google-sheets-db</code></pre>
      or
      <pre><code>$ npm install ng-google-sheets-db</code></pre>
    </div>

    <div>
      <h5>Full documentation</h5>
      The <b>full documentation</b> is available at GitHub:
      <a href="https://github.com/FranzDiebold/ng-google-sheets-db-library" target="_blank">https://github.com/FranzDiebold/ng-google-sheets-db-library</a>
    </div>
  </div>
</section>

<footer>
  <section>
    <div class="container">
      Made with ♥ by <a href="https://www.diebold.io" target="_blank">Franz Diebold</a>.
    </div>
  </section>
</footer>
