@use 'variables';

section {
  .container {
    $verticalPadding: 35px;
    padding-top: $verticalPadding;
    padding-bottom: $verticalPadding;
  }
}

a {
  color: variables.$primaryColor;
}

pre {
 border-left-color: variables.$primaryColor;
}
