@use 'variables';

section {
  .container {
    $verticalPadding: 35px;
    padding-top: $verticalPadding;
    padding-bottom: $verticalPadding;
  }
}

a {
  color: variables.$primaryColor;
}

.button {
  border-color: variables.$primaryColor;

  &.button-outline {
    color: variables.$primaryColor;
  }

  .icon {
    left: -1rem;
    max-width: 2rem;
    position: relative;
    top: 0.6rem;
  }
}

pre {
  border-left-color: variables.$primaryColor;
}
